In [1]:
import decoupler as dc
import numpy as np

In [2]:
net = dc.get_collectri(organism='human', split_complexes=False)

In [3]:
net

,source,target,weight,PMID
0,MYC,TERT,1,10022128;10491298;10606235;10637317;10723141;1...
1,SPI1,BGLAP,1,10022617
2,SMAD3,JUN,1,10022869;12374795
3,SMAD4,JUN,1,10022869;12374795
4,STAT5A,IL2,1,10022878;11435608;17182565;17911616;22854263;2...
...,...,...,...,...
43173,NFKB,hsa-miR-143-3p,1,19472311
43174,AP1,hsa-miR-206,1,19721712
43175,NFKB,hsa-miR-21-5p,1,20813833;22387281
43176,NFKB,hsa-miR-224-5p,1,23474441;23988648
43177,AP1,hsa-miR-144,1,23546882

In [ ]:
# genes to check "Vdr", "Cyp27a1", "Cyp27b1", "Cyp2r1"

In [10]:
vdr = net[net["source"] == "VDR"]

vdr[vdr["target"] == "CYP27A1"]

Empty DataFrame
Columns: [source, target, weight, PMID]
Index: []

In [13]:
net[net["target"] == "CYP27A1"]

      source   target  weight                        PMID
1001   HNF1A  CYP27A1       1           10528998;11406622
2749     TBP  CYP27A1       1                    11248705
4018     TOX  CYP27A1       1   11849541;13129945;8861218
4073     SP1  CYP27A1       1                    11867220
4074   HNF4A  CYP27A1       1           11867220;12957378
4075     SP3  CYP27A1       1                    11867220
7998   PPARA  CYP27A1      -1  11701475;15340076;17156732
15373  NR3C1  CYP27A1       1                    18817892
19341   USF1  CYP27A1       1                    21078375
31716  NR0B2  CYP27A1       1                    15581596
34821   ETS2  CYP27A1       1
37599   ESR1  CYP27A1      -1                    17482558
37635   ESR2  CYP27A1      -1                    17482558

In [14]:
net[net["target"] == "CYP27B1"]

      source   target  weight                        PMID
9355    GFI1  CYP27B1      -1           15947108;17207994
12106    VDR  CYP27B1      -1  15934135;17250953;21307571
16162  CEBPB  CYP27B1       1           19261615;20560977
23718   RXRA  CYP27B1      -1                    23307792
28390   E2F1  CYP27B1       1                    12629508
28423   E2F4  CYP27B1       1                    11799066
31497  NFKB1  CYP27B1       1                    19928584
32109   RELA  CYP27B1       1                    19928584
39138  PPARA  CYP27B1      -1                    19320717
40551   THRA  CYP27B1       1                    23307792
40654   THRB  CYP27B1       1                    23307792

In [15]:
net[net["target"] == "CYP2R1"]

Empty DataFrame
Columns: [source, target, weight, PMID]
Index: []